{% extends '::layout/home.html.twig' %}

{% block main %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6" >
				<h3>Répertoire</h3>
				<div id="tabs">
					<ul>
						<li><a href="#tabs-1">Clients</a></li>
						<li><a href="#tabs-2">Entreprises</a></li>
						<li><a href="#tabs-3">Oportunités</a></li>
					</ul>
					<div id="tabs-1">
						{% if clients is not empty %}

							{% for client in clients %}
								{% if  client.coment  is not empty %}
								<div class="well" title="{{ client.coment }}">
								{% else %}
								<div class="well">
								{% endif %}
									<strong>Nom : </strong>
									{{ client.nom }} {{ client.prenom }}
									<strong>| Email : </strong>
									{{ client.email }} 
									<strong>| Téléphone : </strong>
										0{{ client.telephone }}
									<br>
									{% if client.Company is not empty %}
										<strong>Entreprise : </strong>{{ client.Company.nom }}
									{% else %}
										Ce client n'est pas rattaché à une entreprise.
									{% endif %}
									{% if client.Oportunity is not empty %}
										<br>
										{% if client.Oportunity.state == "f" %}
												<span class="btn-info"><strong>État de l'oportunité : </strong>Froid</span>
										{% elseif client.OPortunity.state == "c" %}
												<span class="btn-warning"><strong>État de l'oportunité : </strong>Chaud</span>
										{% elseif client.Oportunity.state == "cs" %}
												<span class="btn-danger"><strong>État de l'oportunité : </strong>Contrat signé</span>
										{% endif %}
									{% else %}
										<br>
										<strong>Pas d'oportunité</strong>
									{% endif %}
									<div class="row">
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_edit_client",{'id': client.id})}}" class="btn btn-primary" style="width:100%">Editer le client</a>
										</div>
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_delete_client",{'id': client.id})}}" class="btn btn-danger" >Supprimer le client</a>											
										</div>
										<div class="col-lg-3" style="margin-top:20px">
											{% if  client.Oportunity is not empty %}
													<a href="{{path("bg_plateform_edit_oportunity",{'id': client.Oportunity.id})}}" class="btn btn-warning"  >Éditer l'opportunité</a>
											{% else %}
													<a href="{{path("bg_plateform_oportunity",{'id': client.id})}}" class="btn btn-warning"  >Ajouter une opportunité</a>
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
							{% else %}
							<div class="well" style="text-align:center">
								<h3>Vos n'avez pas encore enregisté de client.</h3>
							</div>
						{% endif %}
					</div>
					<div id="tabs-2">
						{% if companies is not empty %}

							{% for company in companies %}
								{% if  company.coment  is not empty %}
								<div class="well" title="{{ company.coment }}">
								{% else %}
								<div class="well">
								{% endif %}
									<strong>Nom : </strong>
									{{ company.nom }} 
									<strong>| Adresse : </strong>
									{{ company.adresse }}
									<strong>| SIRET : </strong>
									{{ company.sIRET}}
									<div class="row">
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_edit_company",{'id': company.id})}}" class="btn btn-primary" style="width:100%">Editer l'entreprise</a>
										</div>
										<div class="col-lg-4" style="margin-top:20px">
											<a href="{{path("bg_plateform_delete_company",{'id': company.id})}}" class="btn btn-danger" style="width:100%">Supprimer l'entreprise</a>											
										</div>
									</div>
								</div>
							{% endfor %}
							{% else %}
							<div class="well" style="text-align:center">
								<h3>Vos n'avez pas encore enregisté d'entreprise.</h3>
							</div>
						{% endif %}					
					</div>
				<div id="tabs-3">
					{% if oportunities is not empty %}
						{% for oportunity in oportunities%}
						<div class="well">
							<strong>Contenu : </strong>
							{{ oportunity.content }}
							<br>
							<strong>État : </strong>
								{% if oportunity.state == "f" %}
										<span class="btn-info">Froid</span>
								{% elseif oportunity.state == "c" %}
										<span class="btn-warning">Chaud</span>
								{% elseif oportunity.state == "cs" %}
										<span class="btn-danger">Contrat signé</span>
								{% endif %}
								<br>
							<a href="{{path("bg_plateform_edit_oportunity",{'id': oportunity.id})}}" class="btn btn-warning"  >Éditer l'opportunité</a>
							<a href="{{path("bg_plateform_delete_oportunity",{'id': oportunity.id})}}" class="btn btn-danger"  >Supprimer l'opportunité</a>
						</div>
						{% endfor %}
					{% else %}
					<div class="well" style="text-align:center">
						<h3>Vos n'avez pas encore enregisté d'opportunité.</h3>
					</div>
					{% endif %}
				</div>
			</div>
		</div>	
			<div class="col-lg-6">
				<a class="btn btn-default" href="{{  path('bg_plateform_add_client') }}">Ajouter client</a>
				<a class="btn btn-default" href="{{ path("bg_plateform_add_company") }}">Ajouter entreprise</a>
			</div>
		</div>
	</div>
{% endblock %}