{% extends '::layout/home.html.twig' %}

{% block main %}
	<div class="container-fluid">
		<din class="row">
			<div class="col-lg-6" >
				<h3>Répertoire</h3>
				<div id="tabs">
					<ul>
						<li ><a href="#tabs-1">Client</a></li>
						<li><a href="#tabs-2">Entreprise</a></li>
					</ul>
					<div id="tabs-1">
						{% if clients is not empty %}

							{% for client in clients %}
								{% if  client.coment  is not empty %}
								<div class="well" title="{{ client.coment }}">
								{% else %}
								<div class="well">
								{% endif %}
									<strong>Nom : </strong>
									{{ client.nom }} {{ client.prenom }}
									<strong>| Email : </strong>
									{{ client.email }} 
									<strong>| Téléphone : </strong>
									{{ client.telephone }}
									<br>
									{% if client.Company is not empty %}
										<strong>Entreprise : </strong>{{ client.Company.nom }}
									{% else %}
										Ce client n'est pas rattaché à une entreprise.
									{% endif %}
									{% if client.Oportunity is not empty %}
										<br>
										<strong>{{ client.Oportunity.state }}</strong>
									{% endif %}
									<div class="row">
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_edit_client",{'id': client.id})}}" class="btn btn-primary" style="width:100%">Editer le client</a>
										</div>
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_delete_client",{'id': client.id})}}" class="btn btn-danger" >Supprimer le client</a>											
										</div>
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_oportunity",{'id': client.id})}}" class="btn btn-warning"  >Ajouter une opportunité</a>
										</div>
									</div>
								</div>
							{% endfor %}
							{% else %}
							<div class="well" style="text-align:center">
								<h3>Vos n'avez pas encore enregisté de client.</h3>
							</div>
						{% endif %}
					</div>
					<div id="tabs-2">
						{% if companies is not empty %}

							{% for company in companies %}
								{% if  company.coment  is not empty %}
								<div class="well" title="{{ company.coment }}">
								{% else %}
								<div class="well">
								{% endif %}
									<strong>Nom : </strong>
									{{ company.nom }} 
									<strong>| Adresse : </strong>
									{{ company.adresse }}
									<strong>| SIRET : </strong>
									{{ company.sIRET}}
									<div class="row">
										<div class="col-lg-3" style="margin-top:20px">
											<a href="{{path("bg_plateform_edit_company",{'id': company.id})}}" class="btn btn-primary" style="width:100%">Editer l'entreprise</a>
										</div>
										<div class="col-lg-4" style="margin-top:20px">
											<a href="{{path("bg_plateform_delete_company",{'id': company.id})}}" class="btn btn-danger" style="width:100%">Supprimer l'entreprise</a>											
										</div>
									</div>
								</div>
							{% endfor %}
							{% else %}
							<div class="well" style="text-align:center">
								<h3>Vos n'avez pas encore enregisté d'entreprise.</h3>
							</div>
						{% endif %}
					</div>
				</div>
			</div>	
			<div class="col-lg-6">
				<a class="btn btn-default" href="{{  path('bg_plateform_add_client') }}">Ajouter client</a>
				<a class="btn btn-default" href="{{ path("bg_plateform_add_company") }}">Ajouter entreprise</a>
			</div>
		</din>
	</div>
{% endblock %}