{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
<a class="btn btn-warning" href="{{ path('fos_user_profile_edit')}}"> Éditer mon compte </a>
<a class="btn btn-warning" href="{{ path('fos_user_change_password')}}"> Changer mon mot de passe </a>
<a class="btn btn-danger" href="{{ path('bg_user_delete',{'id': user.id })}}"> Supprimer mon compte </a>

